.main-menu {
    width: 100vw;
    height: 100vh;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    background: rgba(207,235,223,.3);
}
.main-menu h1 {
    font-size: 2.8rem;
	text-align: center;
	font-weight: 400;
	padding: 10px;
	margin-bottom: 20px;
    color: #CFEBDF;
    text-transform: uppercase;
}
.buttons-container {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
}
.btn {
	padding: 1%;
	border-radius: 15px;
	border: solid 2px #CFEBDF;
	font-weight: 700;
	font-size: 1.4rem;
	text-transform: uppercase;
	background-color: transparent;
	color: #CFEBDF;
	cursor: pointer;
    box-shadow: 0 0 20px rgba(10,10,10,.5);
    text-align: center;
    margin: 5%;
    transition: all ease-out .2s;
	
}
.btn:hover {
    background: #556F7A;
    color: #CFEBDF;
    border: 2px solid #CFEBDF;	
}
.btn:active {
    transition-property: width;
    transition-duration: 1s;
    transition-timing-function: linear;
    transition-delay: 2s;
    border: solid 4px #CFEBDF;
    color: #CFEBDF;
}