.game-settings {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    background: rgba(207,235,223,.3);
}

.game-settings h1 {
    font-size: 2.8rem;
	text-align: center;
	font-weight: 400;
	padding: 10px;
	margin-bottom: 20px;
    color: #CFEBDF;
    text-transform: uppercase;
}

.up, .down {
    -webkit-transform: rotate(-90deg);
	-moz-transform: rotate(-90deg);
	-o-transform: rotate(-90deg);
	transform: rotate(-90deg);
	display: inline-block;
    color: rbg(207,235,223);
    font-size: 3em;
    margin-right: 5%;
	cursor: pointer;
	-webkit-user-select: none; -moz-user-select: none; -ms-user-select: none;
	user-select: none;
}
.numberValue {
    font-size: 3em;
}